@import url('https://fonts.googleapis.com/css?family=Bungee+Inline');

.App {
  text-align: center;
  align-content: center;
}

.heading{
  font-family: 'Bungee Inline', cursive;
  font-size: 6em;
  color: rebeccapurple;
}

.particles{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: -1;
}

