.form{
    background-color:#def;
    background-size:80px 80px;
    background-position:0 0, 40px 40px;
    align-self: center;
}

@import url('https://fonts.googleapis.com/css?family=Spirax');
.letme{
    font-family: 'Spirax', cursive;
    font-size: 2em;
    color: palevioletred;
}

